
 body {
  background: #EEF2F7;
  background-color: rgb(173, 63, 100);
}


.fetch_card{
  border: 1px solid rgb(224, 223, 223);
  background-color: rgb(224, 77, 126);
  text-align: center;
}
.fetch_card:nth-child(4n+2),
.fetch_card:nth-child(4n+3) {
  background-color: #b42159;
}
.box{
  color: white;
  width: 100%;
}

.sub{
  color: white;
}

.wraper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input{
  width: 17rem;
  height: 1.5rem;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid gray;
  outline: none;
  font-size: 14px;
  font-family: monospace;
  }

  .data{
    display: grid;
    grid-template-columns: 50% 50%; 
    padding: 2px;
    width: 100%;
  }


  .country_name{
    text-align: center;
    font-family: monospace;
    font-weight: 900;
}

p.item_name{
  margin:0;
  text-align: right;
}

.icon{
  display: flex;
  justify-content: right;
  color: rgb(243, 243, 243);
}

.arrow{
color: white;
font-size: 20px;
}

.nav{
  margin-top: 20px;
}

a{
  text-decoration: none;
}

.country_title{
text-align: center;
}

.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  font-weight: 600;
  padding: 0 10px;
  font-family: monospace;
}



h2{
  color: white;
  font-family: monospace;
}

@media (max-width:481px)  { 
  .data{
     display: grid;
    grid-template-columns: 50% 50%; 
  }
  .box{
    width: 100%;
  }
}

@media (min-width:481px)  { 
  .dataWrapper{
    display: flex;
    justify-content: center;
    }
 .sub{
   width: 50vw;
 }
}

